<form style="background-color: Burlywood; height: auto;" class="" ng-submit="restCtrl.addRestaurant(restCtrl.newRestaurant)">
  <input
  ng-model="restCtrl.newRestaurant.name" type="text" name="name" value="">
  <input
  ng-model="restCtrl.newRestaurant.address" type="text" name="address" value="">
  <input
  ng-model="restCtrl.newRestaurant.rating" type="number" name="rating" value="">
  <input
  ng-model="restCtrl.newRestaurant.type" type="text" name="type" value="">
  <button type="submit" name="button">Submit/awesome</button>
</form>
